.angular-google-map-container { height: 250px; }

#loadingDiv{
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#666;
    background-image:url('/assets/image/gears.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

a {
    cursor: pointer;
    cursor: hand;
}
.dropdown-menu{
    width: 90%;
}
.inline-inputs input{
    float:left;
}
h3 {
    margin-top: 10px;
}
hr {
    margin: 3px;
}
.count {
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    background-color: #dff0d8;
    color: #171616;
    font-weight: 700;
    font-size: 15px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    margin-bottom: -10px;
}
/*equal height*/
[class*="same-height"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*!*background-color: rgba(86,61,124,.15);*!*/
    border: 1px solid rgba(86,61,124,.2);
}
.row.match-my-cols {
    overflow: hidden;
}
.row.match-my-cols [class*="same-height"]{
    margin-bottom: -999999px;
    padding-bottom: 999999px;
}
.row-selected {
    outline: solid black;
    font-weight: bold;
}
.col-form-label {
    margin-top: 5px;
    /*width: 30%;*/
}
.container {
    margin: 0;
    margin-top: -15px;
    width: 100%;
}
.form-control-static {
    padding-top: 5px;
}
.form-group {
    margin-bottom: 3px;
}
.order-list tr:not(.bg-success):hover {
    background-color: rgba(193, 195, 191, 0.15);
}
.order-list tr:not(.processed):hover {
    background-color: rgba(23, 118, 9, 0.71);
}
.form-control {
    text-align: left;
}
.caret {
    float: right;
    /*vertical-align: middle;*/
    margin-top: 6px;
}
.right {
    float: right;
}
.datepickerForm {
    padding-top: 10px;
    padding-bottom: 10px;
}
