body {
    height: 100%;
}
#page-wrapper {
    position: relative;
    height: 800px;
}
.height100 {
    height: 100%;
}
.all-page-heght {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}
.pull-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 200px;
}
.page-header {
    padding-left: 20px;
}

.angular-google-map-container { height: 250px; }

#loadingDiv{
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#666;
    background-image:url('/assets/image/gears.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

a {
    cursor: pointer;
    cursor: hand;
}
.dropdown-menu{
    width: 90%;
}
.inline-inputs input{
    float:left;
}
h3 {
    margin-top: 10px;
}
hr {
    margin: 3px;
}
.badge {
    background-color: #dff0d8;
    color: #605757;
    font-weight: 700;
    font-size: 15px;
}
.row-selected {
    outline: solid black;
    font-weight: bold;
}
.col-form-label {
    margin-top: 5px;
    /*width: 30%;*/
}
.container {
    margin: 0;
    margin-top: -15px;
    width: 100%;
}
.form-control-static {
    padding-top: 5px;
}
.form-group {
    margin-bottom: 3px;
}
.order-list tr.processed:hover {
    background-color: rgba(193, 195, 191, 0.15);
}
.order-list tr.bg-success:hover {
    background-color: rgba(37, 199, 11, 0.5);
}
.order-list tr.bg-warning:hover {
    background-color: #fce5bf;
}
.bg-clarification {
    background-color: rgba(223, 240, 216, 0.3);
}
.order-list tr.bg-clarification:hover {
    background-color: rgba(223, 240, 216, 0.6);
}
.form-control {
    text-align: left;
}
.caret {
    float: right;
    /*vertical-align: middle;*/
    margin-top: 6px;
}
.right {
    float: right;
}
.datepickerForm {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-product{
    margin-right: 5px;
    margin-bottom: 5px;
}
.phone .typeahead.dropdown-menu {
    width: 180%;
}
