body * {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}
article, p {
    line-height: 140%;
}
.common-margin {
    margin: 20px 8% 20px 8%;
}
.icon-basket {
  width: 46px;
  height: 44px;
}
.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
}
.small-font {
    font-size: 70%;
}
.middle-font {
    font-size: 90%;
}
.large-font {
    font-size: 130%;
}
.sum-wrapper {
    padding-left: 15%;
}
.logo {
    text-align: center;
}
.logo img{
    width: 30%;
}
.yellow {
    background-color: #ffd400;
    padding: 3px;
}
.line {
  border: 0.5px solid #f2f2f2;
}

.site-nav {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
}
.site-nav > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-nav > li:last-of-type {
    display: block;
}
.site-nav a {
    text-decoration: none;
    vertical-align: sub;
}
.site-nav a:link {
    color: black;
}
.site-nav a:visited {
    color: black;
}
.fixed-nav-bar {
    background-color: #ffffff;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.11);
    margin-top: 0;
    margin-bottom: 0;
}
.fixed-nav-bar .site-nav{
    margin-top: 0;
    margin-bottom: 0;
}
.fixed-nav-bar li:first-of-type {
    text-align: center;
    background-color: #ffd400;
    padding: 10px 20px 10px 20px;
}
.fixed-nav-bar li a {
    font-size: 12px;
}
.fixed-nav-bar li:first-of-type a {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.fixed-nav-bar .facebook {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.8px;
    width: 20px;
    margin-left: 10px;
}

.facebook {
  width: 27px;
  height: 27px;
}
nav .facebook {
  height: 100%;
}

.yellow-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 405px;
    border: solid 40px #ffd400;
    -o-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -webkit-transform: skewY(-10deg);
    transform: skewY(-5deg);
    z-index: -1;
}
.banner img {
    width: 100%;
    border-radius: 20px;
}
.content {
    display: flex;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.main-content {
    flex: 3 1 0px;
}
.side-bar {
    flex: 1 1 0px;
}
.delivery article {
    padding-top: 4px;
    padding-left: 24px;
    font-style: italic;
}
.side-bar > article {
    margin-top: 15px;
}
.delivery img {
    width: 60px;
    margin-top: -5px;
}
.recipe  {
}
.recipe img {
    width: 120%;
    margin: -40px 0 -80px 18%;
    position: relative;
    z-index: -1;
}
.recipe a {
    margin-left: 20%;
    margin-right: -30%;
}
.recipe article {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: -20%;
}

.title {
    width: 100%;
    margin-bottom: 20px;
}
.product {
    flex: 0 1 31%;
    margin-right: 2%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.category .product {
    flex: 0 1 23%;
    margin-top: 10px;
}
.category .product:last-of-type {
    margin-right: 0;
}
.product article{
    margin-top: 5px;
}
.product article p {
    margin: 0;
    margin-bottom: 10px;
}
.product .name {
    margin-top: 10px;
}
.product img {
    width: 100%;
    border-radius: 20px;
}
.product a {
    color: #006baa;
}
.product .price-group a {
    color: black;
}
.price-group {
    margin-top: auto;
    display: flex;
}
.price {
    background-color: black;
    color: white;
    padding: 10px 2% 10px 10%;
    width: 55%;
    border-radius: 10px 0 0 10px;
}
.btn-buy {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0 10px 10px 0;
    color: black;
    background: white;
    padding: 5px 20px 5px 20px;
    border: solid black 1px;
    text-decoration: none;
    line-height: 1.5em;
}
.btn-buy:hover {
    background: #ffd400;
    text-decoration: none;
    font-weight: 400;
}

.reviews {
    background-color: #f3f3f3;
}
.reviews article {
    width: 27%;
    padding: 30px 30px 30px 30px;
}
.reviews img {
    width: 40%;
    border-radius: 60px;
    margin-left: 27%;
    margin-bottom: 0;
}
.reviews .sign {
    font-weight: 600;
    margin-bottom: 0;
}
.reviews p {
    position: relative;
}
.reviews p span {
    font-size: 30px;
}
.reviews p span:first-of-type {
    position: absolute;
    left: -20px;
    top: -2px;
}
.reviews p span:last-of-type  {
    line-height: 30%;
    position: relative;
    top: 3px;
}

.reviews .btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #006baa;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #ffd400 1px;
}
.reviews .btn:hover {
  background: #ffd400;
}
.reviews .btn:active {
  border-color: #006baa;
}
.reviews .btn-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.dao {
    margin-top: 60px;
}
.dao-wrapper {
    position: relative;
}
.dao > * {
    width: 50%;
    flex-grow: 1;
}
.dao .img-wrapper {
    width: 60%;
}
.dao img {
    margin-left: 2%;
    width: 100%;
}
.dao article {
    margin-left: 5%;
    margin-right: 5%;
}

.dao p {
    font-family: 'PT Serif', serif;
    font-style: italic;
    width: 90%;
    font-size: 26px;
}
.yellow-line-2 {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    border: solid 40px #ffd400;
    -o-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    -moz-transform: skewY(10deg);
    -webkit-transform: skewY(10deg);
    transform: skewY(5deg);
    z-index: -1;
}
.category {
    margin-top: 30px;
}

footer {
    margin: 40px 0 0 0;
    padding: 0 8% 0 8%;
    border: solid 2px #ffd400;
    border-radius: 5px 5px 0 0;
    background-color: #ffd400;
}

.footer {
    padding: 2% 0 2% 0;
}
footer div {

}
.footer div {
    flex: 1;
    text-align: center;
}
.footer div:first-of-type {
    flex: 1;
    text-align: left;
}
footer a {
   text-decoration: none;
   margin-right: 3%;
}
footer p {
   margin-top: 0;
   margin-bottom: 5px;
}

footer b {
   font-weight: 400;
}
footer img {
   width: 40%;
}



#left-header-filler, #right-header-filler {
    width: 45%;
}
#right-header-filler {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

#right-header-filler a{
    margin-left: 2%;
}
#message {
    text-align: center;
}
#message a:link{
    text-decoration: none;
    font-weight: 400;
}
#logo {
    text-align: center;
    width: 30%;
}
#logo img {
    width: 50%;
}
#footerImg {
    width: 10%;
}

@media screen and (max-width: 768px) {
    .large-font {
        font-size: 90%;
    }
    .common-margin {
        margin: 20px 4% 20px 4%;
    }
    .footer {
        margin: 0 4% 0 4%;
    }
    .yellow-line {
        top: 300px;
        border: solid 20px #ffd400;
    }
}
@media (max-width: 324px) {
    .large-font {
        font-size: 70%;
    }
    .small-font {
        font-size: 40%;
    }
    #logo img {
        width: 70%;
    }
    #footerImg {
        width: 30%;
    }
    footer b {
        font-size: 60%;
    }
}
@media (max-width: 220px) {
    .yellow-line {
        top: 400px;
        border: solid 20px #ffd400;
    }
}

.yellow a{
    text-decoration: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
}
