body * {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}
article, p {
    line-height: 140%;
}
.common-margin {
    margin: 20px 8% 20px 8%;
}
.icon-basket {
  width: 46px;
  height: 44px;
}
.icon-basket-small {
  width: 19px;
  height: 18px;
  margin-left: 30px;
}
.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
}
.small-font {
    font-size: 70%;
}
.middle-font {
    font-size: 90%;
}
.large-font {
    font-size: 130%;
}
.large-large-font {
    font-size: 160%;
}
header>div {
    width: 33%;
}
header>div:last-of-type {
    width: 35%;
}
.contacts {
    margin-left: auto;
}
.sum-wrapper {
    padding-left: 3%;
}
.logo {
    text-align: center;
}
.logo img{
    width: 30%;
}
.yellow {
    background-color: #ffd400;
    padding: 3px;
}
.line {
  border: 0.5px solid #f2f2f2;
}

.site-nav {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
}
.site-nav > li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-nav > li .facebook{
    position: relative;
}
.site-nav > li:last-of-type {
    display: block;
}
.site-nav a {
    text-decoration: none;
    vertical-align: sub;
}
.site-nav a:link {
    color: black;
}
.site-nav a:visited {
    color: black;
}
.fixed-nav-bar {
    background-color: #ffffff;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.11);
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: none;
    top: 0;
}
.fixed-nav-bar .site-nav{
    margin-top: 0;
    margin-bottom: 0;
}
.menu-logo {
    text-align: center;
    background-color: #ffd400;
    padding: 8px 10px 8px 10px;
    font-size: 10px;
}
.fixed-nav-bar li a {
    font-size: 12px;
}
.menu-logo a {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.fixed-nav-bar .facebook {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-left: 10px;
}

.facebook {
  width: 27px;
  height: 27px;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}
nav .facebook {
  height: 100%;
}

.yellow-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 405px;
    border: solid 40px #ffd400;
    -o-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
    z-index: -1;
}

.banner {
    cursor: pointer;
    position: relative;
}

.banner .tagline {
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 250%;
    color: white;
    font-weight: 400;
}
.banner img {
    width: 100%;
    border-radius: 20px;
}
.content {
    display: flex;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.main-content {
    flex: 3 1 0px;
}
.side-bar {
    flex: 1 1 0px;
}
.delivery article {
    padding-top: 4px;
    padding-left: 24px;
    font-style: italic;
}
.side-bar > article {
    margin-top: 15px;
}
.delivery img {
    width: 60px;
    margin-top: -5px;
}
.recipe  {
}
.recipe img {
    width: 120%;
    margin: 0 0 -10px 18%;
    position: relative;
    z-index: -1;
}
.recipe a {
    margin-left: 20%;
    margin-right: -30%;
}
.recipe article {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: -20%;
}

.title {
    width: 100%;
    margin-bottom: 20px;
}
.product {
    flex: 0 1 31%;
    margin-right: 2%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.product .product-info {
    margin-bottom: 5px;
}

.category .product {
    flex: 0 1 23%;
    margin-top: 10px;
}
.category .product:last-of-type {
    margin-right: 0;
}
.category .title img {
    width: 3%;
    height: 100%;
    vertical-align: middle;
}

.product article{
    margin-top: 5px;
}
.product article p {
    margin: 0;
    margin-bottom: 10px;
}
.product .name {
    margin-top: 10px;
}
.product img {
    width: 100%;
    border-radius: 20px;
}
a {
    color: #006baa;
}
.product .price-group a {
    color: black;
}
.price-group {
    margin-top: auto;
    display: flex;
}
.price {
    background-color: black;
    color: white;
    padding: 10px 2% 10px 2%;
    width: 55%;
    border-radius: 10px 0 0 10px;
    text-align: center;
}
.btn-buy {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0 10px 10px 0;
    color: black;
    background: white;
    padding: 5px 20px 5px 20px;
    border: solid black 1px;
    text-decoration: none;
    line-height: 1.5em;
}
.btn-buy:hover {
    background: #ffd400;
    text-decoration: none;
    font-weight: 400;
}

.reviews {
    background-color: #f3f3f3;
}
.reviews article {
    width: 30%;
    padding: 30px 30px 30px 30px;
}
.reviews img {
    width: 40%;
    border-radius: 300px;
    margin-left: 27%;
    margin-bottom: 0;
}
.reviews .sign {
    font-weight: 600;
    margin-bottom: 0;
}
.reviews .review-wrapper {
    position: relative;
}
.reviews .review-wrapper span {
    font-size: 30px;
}
.reviews .review-wrapper span:first-of-type {
    position: absolute;
    left: -20px;
    top: -2px;
}
.review-wrapper div {
    display: none;
}
.reviews .review-wrapper span:last-of-type  {
    line-height: 30%;
    position: relative;
    top: 3px;
}

.reviews .btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #006baa;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #ffd400 1px;
}
.reviews .btn:hover {
  background: #ffd400;
}
.reviews .btn:active {
  border-color: #006baa;
}
.reviews .btn-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.dao {
    margin-top: 60px;
}
.dao-wrapper {
    position: relative;
}
.dao > * {
    width: 50%;
    flex-grow: 1;
}
.dao .img-wrapper {
    width: 60%;
}
.dao img {
    margin-left: 2%;
    width: 100%;
}
.dao article {
    margin-left: 5%;
    margin-right: 5%;
}

.dao p {
    font-family: 'PT Serif', serif;
    font-style: italic;
    width: 90%;
    font-size: 160%;
    margin-right: 0;
}
.yellow-line-2 {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    border: solid 40px #ffd400;
    -o-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    -moz-transform: skewY(10deg);
    -webkit-transform: skewY(10deg);
    transform: skewY(5deg);
    z-index: -1;
}
.category {
    margin-top: 0;
    margin-bottom: 0;
}
.category-anchor {
    height: 35px;
}

footer {
    margin: 40px 0 0 0;
    padding: 0 8% 0 8%;
    border: solid 2px #ffd400;
    border-radius: 5px 5px 0 0;
    background-color: #ffd400;
}
.footer a {
    color: black;
    font-weight: 400;
}
.footer {
    padding: 2% 0 2% 0;
}
footer div {

}
.footer div {
    flex: 1;
    text-align: center;
}
.footer div:first-of-type {
    flex: 1;
    text-align: left;
}
footer a {
   text-decoration: none;
   margin-right: 3%;
}
footer p {
   margin-top: 0;
   margin-bottom: 5px;
}

footer b {
   font-weight: 400;
}
footer img {
   width: 40%;
}

.product-detail .title {
    margin-top: 10px;
}

.product-detail-image {
    width: 45%;
}
.product-detail-image img {
    border-radius: 20px;
    width: 100%;
}
.product-detail-description {
    margin-left: 20px;
    width: 50%;
}
.product-detail-description .checkbox-content {
    margin-top: 20px;
}
.product-detail-description .checkbox-content .padding {
    margin-top: 10px;
}
.product-detail-description .cd-buttons {
    margin-top: 30px;
}
.description {
    display: none;
}


#left-header-filler, #right-header-filler {
    width: 45%;
}
#right-header-filler {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

#right-header-filler a{
    margin-left: 2%;
}
#message {
    text-align: center;
}
#message a:link{
    text-decoration: none;
    font-weight: 400;
}
#logo {
    text-align: center;
    width: 30%;
}
#logo img {
    width: 50%;
}
#footerImg {
    width: 10%;
}

.mobile-cart .cart-product {
    width: 100%;
    margin: 0;
}
.mobile-cart .price-group  {
    margin-top: 10px;
}
.mobile-cart .cart-product>div {
    margin-left: 10px;
    width: 50%;
}
.mobile-cart .delete {
    width: 50px;
    height: 50px;
}
.mobile-cart .cart-product a {
    width: 50%;
}
.mobile-cart .cart-product img {
    width: 100%;
}
.mobile-cart .cart-row {
    margin-bottom: 40px;
}
.mobile-cart .cd-buttons button {
    margin: 10px 0 10px 0;
    width: 100%;
}
.mobile-cart .cd-buttons div {
    text-align: center;
    margin-bottom: 20px;
}
.mobile-cart .title {
    margin-top: 0;
}

.basket-responsive {
    position: relative;
}
.basket-responsive .cart-total {
    background-color: black;
    position: absolute;
    right: 30px;
    top: 0px;
    color: yellow;
    border-radius: 40px;
    line-height: 20px;
    padding: 5px;
    font-size: 13px;
    width: 45px;
    text-align: center;
}

.cms-page .content  {
    flex-wrap: wrap;
}
.cms-page .side-bar {
    position: relative;
    min-height: 400px;
    min-width: 250px;
}
.cms-page .side-bar.odd{
    margin-right: 60px;
}
.cms-page .title {
    margin: 30px 8% 30px 8%;
    width: 80%;
}
.cms-page .cms-content {
    margin-right: 40px;
    display: none;
}
.cms-page b {
    font-weight: 500;
}
.post h3 {
    font-weight: 400;
}
.yellow-circle-1 {
	border-radius: 50%;
	width: 67px;
	height: 67px;
	background-color: #ffd400;
	position: absolute;
	top: 20px;
	right: 0px;
}
.yellow-circle-2 {
	border-radius: 50%;
	width: 132px;
	height: 132px;
	background-color: #ffd400;
	position: absolute;
	top: 110px;
    right: 70px;
}
.yellow-circle-3 {
	border-radius: 50%;
	width: 67px;
	height: 67px;
	background-color: #ffd400;
	position: absolute;
	top: 300px;
    right: 70px;
}
.yellow-circle-4 {
	border-radius: 50%;
	width: 132px;
    height: 132px;
	background-color: #ffd400;
	position: absolute;
	top: 80px;
	left: 0px;
}
.yellow-circle-5 {
	border-radius: 50%;
	width: 67px;
    height: 67px;
	background-color: #ffd400;
	position: absolute;
	top: 170px;
    left: 180px;
}
.yellow-circle-6 {
	border-radius: 50%;
	width: 67px;
	height: 67px;
	background-color: #ffd400;
	position: absolute;
	top: 330px;
    left: 120px;
}
.yellow-line-cms-wrapper {
    position: relative;
    width: 120%;
    margin: 50px -4% 150px -6%;
}
.yellow-line-cms {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    border: solid 40px #ffd400;
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
}
.odd .yellow-line-cms {
     -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.basket-responsive,.menu-btn-responsive,.fixed-nav-bar,.topnav-responsive,.reviews-title,.yellow-line-2.responsive,.sign.responsive,.footer.responsive,.mobile {
    display: none;
}

@media screen and (max-width: 1200px) {
    .yellow-line {
        top: 350px;
    }
    .dao p {
        font-size: 120%;
    }
}

@media screen and (max-width: 1025px) {
    .price {
        font-size: 80%;
    }
    .large-font {
        font-size: 110%;
    }
    .btn-buy {
        padding: 5px 10px 5px 10px;
    }
    .yellow-line {
        top: 300px;
    }
}

@media screen and (max-width: 900px) {
    .large-font {
        font-size: 90%;
    }
    .title.large-font {
        font-size: 110%;
    }
    .common-margin {
        margin: 20px 4% 20px 4%;
    }
    .footer {
        margin: 0 4% 0 4%;
    }
    .yellow-line {
        border: solid 20px #ffd400;
    }
    #footerImg {
        width: 30%;
    }
    .recipe {
        position: relative;
        left: 10%;
    }
    .recipe img {
        margin: 0;
        width: 100%;
    }
    .recipe article {
        margin-right: 0;
        margin-left: 0;
    }
    .recipe a {
        margin-left: 0;
    }
    .cms-page .title {
        margin: 30px 4% 30px 4%;
    }
    .yellow-line-cms-wrapper {
        margin: 50px -2% 150px -3%;
    }
}

@media screen and (max-width: 850px) {
    .basket,.contacts,.main-navigation,.side-bar,.yellow-line {
        display: none;
    }
    .basket-responsive.disabled {
        opacity: 0.5;
    }
    .basket-responsive {
        display: block;
    }
    .menu-btn-responsive {
        display: flex;
        font-size: 200%;
        align-items: start;
        cursor: pointer;
    }
    .basket-responsive img {
        float: right;
    }
    .common-margin {
        margin: 20px 10px 20px 10px;
    }
    header.common-margin {
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.11);
        margin: 0;
        padding: 4%;
        z-index: 999;
        width: 100%;
        position: fixed;
        background: white;
        margin: 0;
    }
    .banner.common-margin {
        margin: 20px 0 20px 0;
    }
    .banner img {
        border-radius: 0px 0px 0px 0px;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .topnav-responsive.expanded {
        display: block;
    }
    .topnav-responsive {
        overflow: hidden;
        background-color: #f3f3f3;
        margin: 0;
        padding: 0;
        list-style: none;
        position: fixed;
        top: 145px;
        width: 100%;
        z-index: 1;
    }
    .topnav-responsive img {
        float: right;
    }
    .topnav-responsive a {
        float: left;
        display: block;
        text-align: left;
        color: #006baa;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav-responsive .menu-row {
        margin: 14px 16px;
        clear: both;
        padding-bottom: 15px;
    }

    .separator {
        border: solid 1px #e5e5e5;
    }
    .main {
        margin-top: 150px;
    }
    .large-font {
        font-size: 24px;
    }
    .title.large-font {
        font-size: 24px;
    }
    .title .underline {
      width: 100%;
      border: solid 1px #e5e5e5;
    }
    .product .product-info {
        width: 45%;
        margin-left: 10px;
        font-size: 14px;
    }
    .product a {
        width: 50%;
    }
    .product {
        flex: 0 1 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .category .product {
        flex: 0 1 100%;
        margin-top: 10px;
    }
    .category .title img {
        width: 10%;
    }
    .middle-font {
        font-size: 14px;
    }
    .price-group a {
        text-align: center;
    }
    .price-group {
        width: 100%;
        font-size: 18px;
    }
    .price {
        font-size: 18px;
        width: 50%;
    }
    .reviews {
        padding-bottom: 50px;
    }
    .reviews img {
        margin-bottom: 20px;
    }
    .sign {
        display: none;
    }
    .sign.responsive {
        display: block;
        margin-left: 0;
    }
    .reviews .sign a {
        font-weight: 400;
    }
    .reviews article p {
        margin-left: 5%;
    }
    .reviews article {
        width: 100%;
        padding-top: 0;
        padding-bottom: 10px;
    }
    .reviews .reviews-title {
        display: block;
        font-size: 24px;
        padding: 20px 10px 0 10px;
    }
    .reviews-slider {
        margin-left: 7%;
        margin-right: 7%;
    }
    .dao-wrapper {
        margin-top: -60px;
        z-index: 2;
    }
    .dao-wrapper .yellow-line-2 {
        display: none;
    }
    .dao {
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #f3f3f3;
        margin: 20px 0 20px 0;
    }
    .dao .img-wrapper {
        width: 100%;
    }
    .dao article {
        padding-top: 10px;
    }
    .dao article p {
        width: 100%;
    }
    .dao img {
        margin-left: 0;
    }
    .reviewer-link {
        display: none;
    }
    .yellow-line-2.responsive {
        display: block;
        margin-top: -50px;
        position: static;
        z-index: 1;
    }
    .footer {
        display: none;
    }
    .footer.responsive {
        display: flex;
    }
    footer {
        margin: 0;
        padding: 0 10px 0 10px;
    }
    .copyright {
        font-size: 10px;
    }
    .product-detail-image {
        width: 100%
    }
    .product-detail-description {
        margin-left: 0;
        width: 100%
    }
    .product-detail .cd-buttons button {
        width: 100%;
    }
}


@media (max-width: 240px) {
    .product .product-info  {
        width: 40%;
    }
}

.yellow a{
    text-decoration: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
}


a.backtotop {
 position: fixed;
 z-index: 9999;
 bottom: 0%;
 right: 0%;
 background: url('/assets/image/gotop.svg') no-repeat;
 height: 64px;
 width: 64px;
 opacity: .6;
 color: transparent;
 padding: 10px;
 margin: 5px 15px 15px 5px;
}
a.backtotop:hover {
 opacity: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}




