<link rel="stylesheet" href="/assets/css/admin.css">

<div class="row all-page-heght">
    <div class="page-header">
        <h2>Обработка заказов {{orderNo}}
            <!--<span class="count ">{{newOrders}}</span>-->
            <span class="badge">{{newOrders}}</span>
            <a class="btn btn-default right" ng-if="detailedView" ng-click="switchView()">
                <span class="glyphicon glyphicon-chevron-left" ></span>&nbsp;
                <span class="hidden-xs ng-binding">К списку</span>
            </a>
            <a class="btn btn-default right" ng-if="!detailedView && order" ng-click="switchView()">
                <span class="glyphicon glyphicon-chevron-right" ></span>&nbsp;
                <span class="hidden-xs ng-binding">К заказу</span>
            </a>
            <a href="#/arm/new" class="btn btn-default right" style="margin-right: 10px">
                <span class="glyphicon glyphicon-plus" ></span>&nbsp;
                <span class="hidden-xs ng-binding">Создать</span>
            </a>
        </h2>
    </div>

    <div class="container height100">
        <div class="row height100">
            <div class="col-sm-12 height100" ng-show="!detailedView">
                    <table class="grid table order-list ">
                        <thead>
                        <tr>
                            <th class="ng-admin-type-string">Номер</th>
                            <th class="ng-admin-type-datetime">Дата заказа</th>
                            <th class="ng-admin-type-datetime">Дата доставки</th>
                            <th class="ng-admin-type-datetime">Время доставки</th>
                            <th class="ng-admin-type-string">Статус</th>
                            <th class="ng-admin-type-string">Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in orders" ng-click="onClick(order)" ng-class="rowClass(order)">
                            <td>
                                {{order.orderNumber}}
                            </td>
                            <td>
                                {{order.orderDate | date : "dd-MM-yyyy"}}
                            </td>
                            <td>
                                {{order.deliveryDate | date : "dd-MM-yyyy"}}
                            </td>
                            <td>
                                {{order.deliveryTime}}
                            </td>
                            <td>
                                {{order.status}}
                            </td>
                            <td class="text-right">
                                {{order.totalPrice}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                <div class="pull-bottom">
                    <b>
                        {{(currentPage-1) * pageSize + 1}} - {{currentPage * pageSize > total? total : currentPage * pageSize}} из {{total}}
                    </b><br/>
                    <paging
                            page="currentPage"
                            page-size="pageSize"
                            total="total"
                            text-next-class="glyphicon glyphicon-chevron-right"
                            text-prev-class="glyphicon glyphicon-chevron-left"
                            text-first-class="glyphicon glyphicon-backward"
                            text-last-class="glyphicon glyphicon-forward"
                            class="small"
                            text-title-page="Страница {page}"
                            show-prev-next="true"
                            show-first-last="true"
                            paging-action="onPageChange(page)"
                    >
                    </paging>


                </div>

            </div>
            <div class="col-sm-6" ng-show="detailedView">
                <form name="form" class="css-form" novalidate>
                <fieldset ng-disabled="order.status=='Отменен'">
                    <div ng-if="order.orderNumber!='new'">
                        <h3>
                            <a href="#/customers/edit/{{order.customerId}}" target="_blank">{{order.name}}</a>
                            <span class="right"><a href="tel:{{getSkypePhone()}}">{{order.phone}}</a></span>
                        </h3><hr/>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Заказ:</label>
                            <div class="col-sm-8">
                                <strong><p class="form-control-static mb-0">
                                        <a target="_blank" href="#/orders/edit/{{order.id}}">{{order.orderNumber}}</a> / {{order.orderDate | date : "dd-MM-yyyy"}}
                                </p></strong>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Статус:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" value="{{order.status}}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Оплата:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" value="{{order.paymentType.description}}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="deliverySelect" class="col-sm-4 col-form-label">Доставка:</label>
                            <div class="col-sm-8">
                                <button id="deliverySelect" type="button" class="btn btn-default form-control" ng-model="order.delivery"
                                        data-html="1" data-placeholder="Выберите значение" ng-change="onDeliveryTypeChange(order.delivery)"
                                        bs-options="item as item.description for item in deliveryTypes track by item.id" bs-select>
                                     <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group row {{form.deliveryDate.$error.required? 'has-error' : '' }}">
                            <label for="deliveryDate" class="col-sm-4 col-form-label">Дата доставки:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="deliveryDate" required="" type="date" ng-model="order.deliveryDate"
                                       ng-change="onDeliveryDateChange(order.deliveryDate)" id="deliveryDate" min="{{today}}">
                            </div>
                        </div>

                        <div class="form-group row {{form.deliveryTime.$error.required? 'has-error' : '' }}">
                            <label for="deliveryTime" class="col-sm-4 col-form-label">Интервал:</label>
                            <div class="col-sm-8">
                                <button id="deliveryTime" required="" name="deliveryTime" type="button" class="btn btn-default form-control"
                                        ng-model="order.deliveryTime" bs-options="item.value as item.value for item in timesOrder track by item.value" bs-select
                                        ng-change="onDeliveryTimeChange(order.deliveryTime)" data-placeholder="Выберите время">
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Улица:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="search" ng-model="order.streetName" ng-change="onAddressChange()"
                                       bs-options="address as address for address in getAddress($viewValue)"  bs-typeahead>
                            </div>
                        </div>
                        <!--<i class="fa fa-home"></i> -->

                        <div class="form-group row inline-inputs">
                            <label class="col-sm-4 col-form-label">Дом/под./кв.:</label>
                            <div class="col-sm-3" style="padding-right: 0">
                                <input class="form-control" type="text" ng-model="order.streetNumber" ng-change="onAddressChange()">
                            </div>
                            <div class="col-sm-2" style="padding-right: 0; padding-left: 2px">
                                <input class="form-control" type="text" ng-model="order.entrance">
                            </div>
                            <div class="col-sm-3" style="padding-left: 2px">
                                <input class="form-control" type="text" ng-model="order.flat">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Координаты:</label>
                            <div class="col-sm-4" style="padding-right: 2px">
                                <input class="form-control" type="text" value="{{order.lat}}" readonly>
                            </div>
                            <div class="col-sm-4" style="padding-left: 2px">
                                <input class="form-control" type="text" value="{{order.lng}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Сумма:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" value="{{order.totalPrice}}" readonly style="text-align: right">
                            </div>
                        </div>

                        <div style="padding-top: 20px"></div>
                        <table class="table-striped table">
                            <tbody>
                            <tr ng-repeat="entry in order.entries" ng-click="onOrderEntryClick()">
                                <td>
                                    <table>
                                        <tr>{{entry.product.name}}</tr>
                                        <tr ng-repeat="sauce in entry.sauces" class="entries collapse out">
                                            <td><small>{{sauce.name}}</small></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    {{entry.quantity}} кг
                                </td>
                                <td class="text-right">
                                    {{entry.totalPrice}} руб.
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group row" ng-show="!cancelConfirm">
                            <div style="padding-bottom: 15px">
                                <br/>
                            </div>
                            <div ng-if="order.status == statusInDelivery">
                                <div class="col-sm-4">
                                    <button ng-click="showCancelConfirm(true)" class="btn btn-danger btn-lg btn-block">
                                        <span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;Отменить
                                    </button>
                                </div>
                                <div class="col-sm-8">
                                    <button ng-click="submit(order)" type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="form.$invalid">
                                        <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Сохранить
                                    </button>
                                </div>
                            </div>
                            <div ng-if="order.status == statusNew || order.status == statusClarification">
                                <div class="col-sm-4">
                                    <button ng-click="showCancelConfirm(true)" class="btn btn-danger btn-lg btn-block">
                                        <span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;Отменить
                                    </button>
                                </div>
                                <div class="col-sm-4">
                                    <button ng-click="submit(order)" type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="form.$invalid">
                                        <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Сохранить
                                    </button>
                                </div>
                                <div class="col-sm-4">
                                    <button ng-click="submit(order, true)" type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="form.$invalid">
                                        <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;В доставку
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" ng-show="cancelConfirm && order.status!='Отменен'">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div style="padding-bottom: 5px">
                                        Вы уверены, что хотите отменить заказ?
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <button ng-click="showCancelConfirm(false)" class="btn btn-lg btn-block">Назад</button>
                                        </div>
                                        <div class="col-sm-8">
                                            <button ng-click="cancel(order)" class="btn btn-danger btn-lg btn-block">
                                                <span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;Отменить заказ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<pre>{{form | json}}</pre>-->
                    </div>
                    <div ng-if="order.orderNumber=='new'">
                        <h3>Создание заказа</h3><hr/>
                        <button ng-repeat="product in products" ng-click="addProduct(product)" type="button" class="btn btn-info btn-product">
                            {{product.name}}
                        </button>
                        <table class="table-striped table">
                            <tbody>
                            <tr ng-repeat="entry in order.entries" ng-click="onOrderEntryClick()">
                                <td>
                                    <table>
                                        <tr>{{entry.product.name}}</tr>
                                        <tr ng-repeat="sauce in entry.sauces" class="entries collapse out">
                                            <td><small>{{sauce.name}}</small></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <input ng-model="entry.quantity" ng-change="quantityChanged(entry)"
                                           style="text-align: right; width:40px" > кг
                                </td>
                                <td class="text-right">
                                    {{entry.totalPrice}}
                                </td>
                                <td >
                                    <span ng-click="removeEntry(entry)" class="glyphicon glyphicon-remove-sign"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group row phone {{form.phone.$error.required? 'has-error' : '' }}">
                            <label class="col-sm-4 col-form-label">Телефон/Покупатель:</label>
                            <div class="col-sm-4" style="padding-right: 2px">
                                <input class="form-control" type="search" ng-model="order.phone" name="phone" required
                                       bs-options="customer as customer for customer in findCustomers($viewValue)" bs-typeahead
                                       bs-on-select="onCustomerSelect">
                            </div>
                            <div class="col-sm-4" style="padding-left: 2px">
                                <input class="form-control" type="search" ng-model="order.name" name="name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="deliverySelect" class="col-sm-4 col-form-label">Доставка:</label>
                            <div class="col-sm-8">
                                <button id="deliverySelect" type="button" class="btn btn-default form-control" ng-model="order.delivery"
                                        data-html="1" data-placeholder="Выберите значение" ng-change="onDeliveryTypeChange(order.delivery)"
                                        bs-options="item as item.description for item in deliveryTypes track by item.id" bs-select>
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group row {{form.deliveryDate.$error.required? 'has-error' : '' }}">
                            <label for="deliveryDate" class="col-sm-4 col-form-label">Дата доставки:</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="deliveryDate" required="" type="date" ng-model="order.deliveryDate"
                                       ng-change="onDeliveryDateChange(order.deliveryDate)" id="deliveryDate" min="{{today}}">
                            </div>
                        </div>

                        <div class="form-group row {{form.deliveryTime.$error.required? 'has-error' : '' }}">
                            <label for="deliveryTime" class="col-sm-4 col-form-label">Интервал:</label>
                            <div class="col-sm-8">
                                <button id="deliveryTime" required="" name="deliveryTime" type="button" class="btn btn-default form-control"
                                        ng-model="order.deliveryTime" bs-options="item.value as item.value for item in timesOrder track by item.value" bs-select
                                        ng-change="onDeliveryTimeChange(order.deliveryTime)" data-placeholder="Выберите время">
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>

                        <div class="form-group row {{form.streetName.$error.required? 'has-error' : '' }}">
                            <label class="col-sm-4 col-form-label">Улица:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="search" ng-model="order.streetName" ng-change="onAddressChange()" name="streetName"
                                       bs-options="address as address for address in getAddress($viewValue)"  bs-typeahead required>
                            </div>
                        </div>

                        <div class="form-group row inline-inputs ">
                            <label class="col-sm-4 col-form-label">Дом/под./кв.:</label>
                            <div class="col-sm-3 {{form.streetNumber.$error.required? 'has-error' : '' }}" style="padding-right: 0">
                                <input class="form-control" type="text" ng-model="order.streetNumber" ng-change="onAddressChange()" name="streetNumber" required>
                            </div>
                            <div class="col-sm-2" style="padding-right: 0; padding-left: 2px">
                                <input class="form-control" type="text" ng-model="order.entrance">
                            </div>
                            <div class="col-sm-3 {{form.flat.$error.required? 'has-error' : '' }}" style="padding-left: 2px">
                                <input class="form-control" type="text" ng-model="order.flat" name="flat" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Координаты:</label>
                            <div class="col-sm-4" style="padding-right: 2px">
                                <input class="form-control" type="text" value="{{order.lat}}" readonly>
                            </div>
                            <div class="col-sm-4" style="padding-left: 2px">
                                <input class="form-control" type="text" value="{{order.lng}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Сумма:</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" value="{{order.totalPrice}}" readonly style="text-align: right">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div style="padding-bottom: 10px">
                            </div>
                            <div class="col-sm-4">
                                <button ng-click="discardNew()" class="btn btn-danger btn-lg btn-block">
                                    <span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;Отменить
                                </button>
                            </div>
                            <div class="col-sm-8">
                                <button ng-click="submit(order)" type="submit" class="btn btn-primary btn-lg btn-block"
                                        ng-disabled="form.$invalid || isEmpty()">
                                    <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;Сохранить
                                </button>
                            </div>
                        </div>
                        <!--<pre>{{form | json}}</pre>-->
                    </div>
                </fieldset>
                </form>
            </div>
            <div class="col-sm-6" ng-if="detailedView">
                <div class="box">
                    <h3>График доставки<span class="right">{{order.deliveryDate | date : "dd/MM/yyyy"}}</span></h3>
                    <div id="map_canvas">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                            <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <br/>
                    <accordion close-others="true" ng-if="order.deliveryDate">
                        <accordion-group heading="{{time.value}} ({{schedule[time.value].length}})" ng-repeat="time in timesAll" is-open="time.open">
                            <table class="table grid">
                                <tbody>
                                <tr ng-repeat="order in schedule[time.value]" ng-class="scheduleRowClass(order)">
                                    <td>
                                        <a href="#/arm/{{order.orderNumber}}">{{order.orderNumber}}</a>
                                    </td>
                                    <td>
                                        {{order.streetName}}&nbsp;{{order.streetNumber}}
                                    </td>
                                    <td class="text-right">
                                        {{order.totalPrice}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-hide="schedule[time.value].length">
                                Пока нет заказов
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
        <div id="loadingDiv" style="display: {{loading? 'block' : 'none'}}">
            <div>
                <h7>Загрузка...</h7>
            </div>
        </div>
    </div>
</div>

<style>

</style>
