<script id="cartContentTemplate" type="text/x-handlebars-template">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Корзина</h4>
</div>
<div class="modal-body">
    {{#each entries}}
    <div class="cart-row">
        <div class="grid" style="padding-left: 30px">
            <div class="grid-item large--seven-twelfths">
                <div class="grid">
                    <div class="grid-item one-third large--one-quarter">
                        <a href="#" class="cart-image">
                            <img src="/assets/image/pelmen.jpg" alt="{{product.name}}">
                        </a>
                    </div>
                    <div class="grid-item two-thirds large--three-quarters">
                        <a href="#">
                            {{product.name}}
                        </a>
                        <br>
                        <small>{{color.name}}</small>
                        {{#each sauces}}
                            <br/><small>{{name}}</small>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="grid-item large--five-twelfths medium--two-thirds push--medium--one-third">
                <div class="grid">
                    <div class="grid-item one-half medium-down--one-third text-right">
                        <div class="ajaxifyCart--qty">
                            <input type="text" readonly value="{{quantity}} кг" min="0">
                            <span onclick="modifyCart({{entryNo}},{{math quantity '+' 1}})" class="ajaxifyCart--qty-adjuster ajaxifyCart--add">+</span>
                            <span onclick="modifyCart({{entryNo}},{{math quantity '-' 1}})" class="ajaxifyCart--qty-adjuster ajaxifyCart--minus">-</span>
                        </div>
                    </div>
                    <div class="grid-item one-third medium-down--one-third text-right">
                        <span class="h2" style="margin-top: 0px;">
                            <small>{{totalPrice}}<sup>00</sup></small>
                        </span>
                    </div>
                    <div class="grid-item one-sixth medium-down--one-third text-right">
                        <a href="#" onclick="modifyCart({{entryNo}},0); return false;" class="icon-fallback-text btn-secondary remove ">
                            <span class="icon icon-x" aria-hidden="true"></span>
                            <span class="fallback-text">Удалить</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <div class="cart-row">
        <div class="grid">
            <div class="grid-item text-right ">
                <div class="cart-subtotal">
                    Итого
                    <span class="h1 cart-subtotal--price">
                            <small>{{totalPrice}}<sup>00</sup></small>
                        </span>
                </div>
                <button type="button" data-dismiss="modal" class="btn btn-info medium-down--hide">
                    <span>Продолжить покупки</span>
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-info large--hide">
                    <span class="icon ">< Назад</span>
                </button>
                <button type="button" class="btn" onclick="document.location = '/checkout';">
                    <span class="icon icon-cart">Оформить заказ</span>
                </button>
                <!--<a href="#" class="btn header-cart-btn cart-toggle" onclick="onCartBtnClick()">-->
                    <!--<span class="icon icon-cart"></span>Оформить заказ-->
                <!--</a>-->
            </div>
        </div>
    </div>
</div>
</script>
