<script id="cartContentTemplate" type="text/x-handlebars-template">
        <div class="cd-popup-container">
            <form method="get" action="#">

                <p class="large-font">Корзина</p>
                <div class="cart-entries">
                {{#each entries}}
                    <div class="cart-row flex" data-product-id="{{product.id}}" data-entry-no="{{entryNo}}">
                        <div class="cart-product">
                            <img src="/image/product/{{product.id}}" alt="{{product.name}}">
                            <div>
                                <a href="/product/{{product.code}}">{{product.name}}</a>
                                <div class="small-font description">{{product.shortDescription}}</div>
                            </div>
                        </div>
                        <div class="spinner">
                            <div class="btn btn-minus noselect">–</div>
                            <div class="quantity noselect">
                                <span class="number">{{quantity}}</span> <span class="unit">{{product.unit.label}}</span>
                            </div>
                            <div class="btn btn-plus noselect">+</div>
                        </div>
                        <div class="popup-price">{{totalPrice}}<span class="small-font"> &#8381;</span></div>
                        <div class="tag">
                            <div class="circle"></div>
                        </div>
                        <img class="delete" src="/assets/image/delete.svg" onclick="removeFromCart({{entryNo}})">
                    </div>
                {{/each}}
                </div>

                {{#if promo}}
                    <div class="promo">
                        {{promo.message}}
                    </div>
                {{/if}}

                <div class="total flex">
                    <div></div>
                    <div class="cd-buttons">
                        <div class="flex-space-between">
                            <button type="button" class="place-btn" onclick="window.location='/checkout'">Оформить заказ</button>
                            <div class="flex-vertical">
                                <span class="small-font">Итого</span>
                                <span class="large-font">{{totalPrice}}&nbsp;&#8381;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <a href="#0" class="cd-popup-close">
                <img src="/assets/image/close.svg">
            </a>
        </div> <!-- cd-popup-container -->

</script>
