<div ng-if="profile.id">

    <h2>Дела наши скорбные
        <a class="btn btn-primary pull-right" href="#/create">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </h2>

    <table class="table table-hover">
        <tr>
            <th>
                #
            </th>
            <th>
                Задача
            </th>
            <th>
                Создана
            </th>
            <th>Выполнена</th>
        </tr>
        <tr class="success-{{todo.done}}" ng-repeat="todo in todos">
            <td>{{$index+1}}</td>
            <td>
                {{todo.title}}
            </td>
            <td>
                {{todo.createdOn | date : 'dd.MM.yyyy  HH:mm'}}
            </td>
            <td>
                <input type="checkbox" ng-change="todoStatusChanged(todo)" ng-value="todo.done" ng-model="todo.done">
            </td>
        </tr>
    </table>

</div>

<div ng-if="!profile.id">

    <h2>Новости</h2>

    <table class="table table-hover">
        <tr ng-repeat="new in news">
            <td class="col-md-6">
                <div class="lead" >
                    {{new.title}}
                </div>
                {{new.description}}
            </td>
            <td class="col-md-2">
                {{new.createdOn | date}}
            </td>
        </tr>
    </table>

</div>